[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/encounter/aurora.git
[submodule "extern/streamline"]
	path = extern/streamline
	url = https://github.com/NVIDIA-RTX/Streamline.git
